<ion-content>
<ion-row main>
  <ion-col size="12">
    <!-- Profile Picture -->
    <ion-row style="padding-top:20px;">
      <ion-col size="12" style="text-align:center;">
          <ion-icon name="contact" style="width:100px;height:100px;"></ion-icon>
      </ion-col>
    </ion-row>
    <!-- Username -->
    <ion-row>
      <ion-col size="12" style="text-align:center;">
        <h3 style="margin-top:0;margin-bottom:0;">
          <b>Henry Low</b>
        </h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
            <ion-card-header>
              <ion-row>
                <ion-col size="6" style="text-align:left;">
                    <ion-button color="success" style="text-align:left;">Active</ion-button>
                </ion-col>
                <ion-col size="6" style="text-align:right;">
                    <ion-button color="success" style="text-align:right;">
                        <ion-icon name="create"></ion-icon>
                      </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-header>
            <ion-card-content>
              <!-- Email -->
              <ion-row class="ion-align-items-center">
                  <ion-col size="12">
                    <b>EMAIL&nbsp;&nbsp;<ion-icon name="mail"></ion-icon></b>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  henry_lcz97@hotmail.com
                </ion-col>
              </ion-row>
              <!-- IC Number -->
              <ion-row>
                <ion-col size="12">
                  <b>IC NO.&nbsp;&nbsp;<ion-icon name="finger-print"></ion-icon></b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  960518-28-1234
                </ion-col>
              </ion-row>
              <!-- Mobile Phone Number -->
              <ion-row>
                <ion-col size="12">
                  <b>MOBILE PHONE NUMBER&nbsp;&nbsp;<ion-icon name="call"></ion-icon></b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  6012-3456789
                </ion-col>
              </ion-row>
              <!-- Address -->
              <ion-row>
                <ion-col size="12">
                  <b>ADDRESS&nbsp;&nbsp;<ion-icon name="home"></ion-icon></b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  123, Taman Abdul Rahman, 31900 Kampar, Perak
                </ion-col>
              </ion-row>
              <!-- Account Create Date -->
              <ion-row>
                <ion-col size="12">
                  <b>ACCOUNT CREATED DATE:&nbsp;&nbsp;<ion-icon name="calendar"></ion-icon></b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  2019-10-25
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-col>
</ion-row>

</ion-content>