<ion-header>
  <ion-toolbar>
    <ion-title style="padding:0 0 0 10px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" style="text-align:left;padding:0;">
          <ion-icon (click)="backToShopPage()" name="arrow-back" style="font-size:25px;" *ngIf="!isLoadingListOfInventoriesByProductFeatureUid"></ion-icon>
          <ion-spinner name="crescent" *ngIf="isLoadingListOfInventoriesByProductFeatureUid"></ion-spinner>
        </ion-col>
        <ion-col size="10" style="text-align:left;white-space:normal;word-wrap:break-word;padding:0;font-weight:bold;">
          {{productFeatureTitle}}
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="isLoadingListOfInventoriesByProductFeatureUid else finishedLoadingListOfInventoriesByProductFeatureUid">
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="6">
            <ion-card>
              <ion-card-header style="background-color:#ececec;padding:0;">
                <ion-img src="../../../assets/images/default_product.png" alt="prod_img" class="productImage"></ion-img>
              </ion-card-header>
              <ion-card-content style="padding:5px;">
                <ion-row>
                  <ion-col size="12" style="white-space:normal;padding-top:0;padding-bottom:0;">
                    <ion-label>
                      <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </ion-label>
                    <ion-label style="width:40%;">
                      <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header style="background-color:#ececec;padding:0;">
                <ion-img src="../../../assets/images/default_product.png" alt="prod_img" class="productImage"></ion-img>
              </ion-card-header>
              <ion-card-content style="padding:5px;">
                <ion-row>
                  <ion-col size="12" style="white-space:normal;padding-top:0;padding-bottom:0;">
                    <ion-label>
                      <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </ion-label>
                    <ion-label style="width:40%;">
                      <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header style="background-color:#ececec;padding:0;">
                <ion-img src="../../../assets/images/default_product.png" alt="prod_img" class="productImage"></ion-img>
              </ion-card-header>
              <ion-card-content style="padding:5px;">
                <ion-row>
                  <ion-col size="12" style="white-space:normal;padding-top:0;padding-bottom:0;">
                    <ion-label>
                      <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </ion-label>
                    <ion-label style="width:40%;">
                      <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header style="background-color:#ececec;padding:0;">
                <ion-img src="../../../assets/images/default_product.png" alt="prod_img" class="productImage"></ion-img>
              </ion-card-header>
              <ion-card-content style="padding:5px;">
                <ion-row>
                  <ion-col size="12" style="white-space:normal;padding-top:0;padding-bottom:0;">
                    <ion-label>
                      <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </ion-label>
                    <ion-label style="width:40%;">
                      <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header style="background-color:#ececec;padding:0;">
                <ion-img src="../../../assets/images/default_product.png" alt="prod_img" class="productImage"></ion-img>
              </ion-card-header>
              <ion-card-content style="padding:5px;">
                <ion-row>
                  <ion-col size="12" style="white-space:normal;padding-top:0;padding-bottom:0;">
                    <ion-label>
                      <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </ion-label>
                    <ion-label style="width:40%;">
                      <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header style="background-color:#ececec;padding:0;">
                <ion-img src="../../../assets/images/default_product.png" alt="prod_img" class="productImage"></ion-img>
              </ion-card-header>
              <ion-card-content style="padding:5px;">
                <ion-row>
                  <ion-col size="12" style="white-space:normal;padding-top:0;padding-bottom:0;">
                    <ion-label>
                      <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </ion-label>
                    <ion-label style="width:40%;">
                      <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header style="background-color:#ececec;padding:0;">
                <ion-img src="../../../assets/images/default_product.png" alt="prod_img" class="productImage"></ion-img>
              </ion-card-header>
              <ion-card-content style="padding:5px;">
                <ion-row>
                  <ion-col size="12" style="white-space:normal;padding-top:0;padding-bottom:0;">
                    <ion-label>
                      <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </ion-label>
                    <ion-label style="width:40%;">
                      <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header style="background-color:#ececec;padding:0;">
                <ion-img src="../../../assets/images/default_product.png" alt="prod_img" class="productImage"></ion-img>
              </ion-card-header>
              <ion-card-content style="padding:5px;">
                <ion-row>
                  <ion-col size="12" style="white-space:normal;padding-top:0;padding-bottom:0;">
                    <ion-label>
                      <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </ion-label>
                    <ion-label style="width:40%;">
                      <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header style="background-color:#ececec;padding:0;">
                <ion-img src="../../../assets/images/default_product.png" alt="prod_img" class="productImage"></ion-img>
              </ion-card-header>
              <ion-card-content style="padding:5px;">
                <ion-row>
                  <ion-col size="12" style="white-space:normal;padding-top:0;padding-bottom:0;">
                    <ion-label>
                      <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </ion-label>
                    <ion-label style="width:40%;">
                      <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="6">
            <ion-card>
              <ion-card-header style="background-color:#ececec;padding:0;">
                <ion-img src="../../../assets/images/default_product.png" alt="prod_img" class="productImage"></ion-img>
              </ion-card-header>
              <ion-card-content style="padding:5px;">
                <ion-row>
                  <ion-col size="12" style="white-space:normal;padding-top:0;padding-bottom:0;">
                    <ion-label>
                      <ion-skeleton-text animated="true"></ion-skeleton-text>
                    </ion-label>
                    <ion-label style="width:40%;">
                      <ion-skeleton-text animated="true" style="width:40%;"></ion-skeleton-text>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ng-container>
  <ng-template #finishedLoadingListOfInventoriesByProductFeatureUid>
    <ion-row>
      <ion-col size="6" *ngFor="let listOfItems of listOfProductsByProductFeatureUid">
        <ion-card (click)="viewProductDetail(listOfItems.uid)" style="margin:0;background-color:white;">
          <ion-card-header style="background-color:#ececec;padding:0;">
            <ng-container *ngIf="listOfItems.imgpath else noImageForProduct">
              <ion-img [src]="listOfItems.imgpath" alt="prod_img" class="productImage"></ion-img>
            </ng-container>
            <ng-template #noImageForProduct>
              <ion-img src="../../assets/images/default_product.png" alt="prod_img" class="productImage"></ion-img>
            </ng-template>
          </ion-card-header>
          <ion-card-content style="padding:5px;">
            <ion-row>
              <ion-col size="12" style="white-space:normal;padding-top:0;padding-bottom:0;">
                <b>{{listOfItems?.name}}</b>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" style="padding-top:0;padding-bottom:0;">
                <!--<ng-container *ngIf="listOfItems?.promotion else noPromotion">
                  <small>
                    <b>{{listOfItems?.promoprice | myCurrency}}</b>
                    <span>
                      <ion-chip color="primary" style="font-size:10px;padding:5px;">
                        -{{listOfItems?.promopctg}}%
                      </ion-chip>
                    </span>
                  </small>
                </ng-container>
                <ng-template #noPromotion>
                  <small>
                    <b>{{listOfItems?.price | myCurrency}}</b>
                  </small>
                </ng-template>-->
                <ng-container *ngIf="listOfItems?.promotion else noPromoPrice">
                  <ion-row>
                    <ion-col size="12" style="padding:0;">
                      <small>
                                  <span style="text-decoration:line-through;color:grey;">
                                      {{listOfItems?.price | myCurrency}}
                                  </span>
                        &nbsp;
                        <ng-container *ngIf="listOfItems.promotion.discbyprice === 1 else discountedByPercentage">
                          <ion-chip color="primary" style="margin:0;font-size:10px;">
                            -{{listOfItems?.disc | myCurrency}}
                          </ion-chip>
                        </ng-container>
                        <ng-template #discountedByPercentage>
                          <ion-chip color="primary" style="margin:0;font-size:10px;">
                            -{{listOfItems?.promopctg}}%
                          </ion-chip>
                        </ng-template>
                      </small>
                    </ion-col>
                  </ion-row>
                  {{listOfItems?.promoprice | myCurrency}}
                </ng-container>
                <ng-template #noPromoPrice>
                  <small>
                    <b>{{listOfItems?.price | myCurrency}}</b>
                  </small>
                </ng-template>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" style="padding-top:0;padding-bottom:0;">
                <small>
                  <!--                            <ng-container *ngIf="listOfItems.rating && listOfItems.rating > 0 else noItemRating">
                                                <star-rating [value]="listOfItems.rating" checkedcolor="#FFD100" uncheckedcolor="black" readonly="true"></star-rating>
                                              </ng-container>
                                              <ng-template #noItemRating>
                                                No Ratings Yet
                                              </ng-template>-->
                  ({{listOfItems.salesqty}} sold)
                </small>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreInventories($event)">
        <ion-infinite-scroll-content
                loadingSpinner="crescent">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>
  </ng-template>
</ion-content>
