<!-- class="loginPageContainer" -->
<ion-row class="ion-align-items-center" style="height:100%;">
  <ion-col size="12">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <h1>Ipoh Drum</h1>
        </ion-card-subtitle>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-row [formGroup]="userLoginFormGroup">
          <ion-col size="12">
            <ion-row>
              <ion-col size="12">
                EMAIL
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <input type="text" class="form-control" [(ngModel)]="userEmail" (keydown.enter)="loginUser()" [ngClass]="{'is-invalid': userLoginFormGroup.get('userEmail').invalid && userLoginFormGroup.get('userEmail').touched, 'is-valid': userLoginFormGroup.get('userEmail').valid}" formControlName="userEmail">
                <ul class="errorMessages" *ngIf="userLoginFormGroup.get('userEmail').invalid && userLoginFormGroup.get('userEmail').touched">
                  <li *ngIf="userLoginFormGroup.get('userEmail').hasError('required') && userLoginFormGroup.get('userEmail').touched">
                    Email is required.
                  </li>
                  <li *ngIf="userLoginFormGroup.get('userEmail').hasError('email') && userLoginFormGroup.get('userEmail').touched">
                    Invalid email format.
                  </li>
                </ul>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                PASSWORD
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <input type="password" class="form-control" [(ngModel)]="userPassword" formControlName="userPassword" (keydown.enter)="loginUser()" [ngClass]="{'is-invalid': userLoginFormGroup.get('userPassword').invalid && userLoginFormGroup.get('userPassword').touched, 'is-valid': userLoginFormGroup.get('userPassword').valid}">
                <ul class="errorMessages" *ngIf="userLoginFormGroup.get('userPassword').invalid && userLoginFormGroup.get('userPassword').touched">
                    <li *ngIf="userLoginFormGroup.get('userPassword').hasError('required') && userLoginFormGroup.get('userPassword').touched">
                      Email is required.
                    </li>
                  </ul>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button (click)="loginUser()" [disabled]="userLoginFormGroup.invalid">Login</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>