// Custom bullet color for "ion-swipe"
ion-slides {
  --bullet-background: #cecece;
  --bullet-background-active: white;
}

// Unresizable textarea
textarea {
  resize: none;
}

// Change background color of ion-content
ion-content{
  --ion-background-color:#0b8457;
}