<ion-header>
  <ion-toolbar>
    <ion-title style="padding:0 0 0 10px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="2" style="text-align:left;padding:0;">
          <ion-icon name="arrow-back" style="font-size:25px;" (click)="closeInventoryDetailsModal()"></ion-icon>
        </ion-col>
        <ion-col size="10" style="text-align:left;">
          <b>Inventory Details</b>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section style="background-color:white;margin-bottom:10px;">
    <ion-row style="border-bottom:1px solid #f7f7f7;">
      <ion-col size="12" style="padding:0;">
        <ng-container *ngIf="!isLoadingInventoryDetails else finishedLoadingInventoryDetails">
          <ion-slides pager="true" [options]="ionSliderOptions">
            <ion-slide *ngFor="let inventoryImages of currentInventoryDetails?.images">
              <img [src]="inventoryImages?.imgpath" alt="inven_prod_img">
            </ion-slide>
          </ion-slides>
        </ng-container>
        <ng-template #finishedLoadingInventoryDetails>
          <ion-slides pager="true" [options]="ionSliderOptions">
            <ion-slide>
              <img src="../../../assets/images/default_product.png" alt="product_image">
            </ion-slide>
          </ion-slides>
        </ng-template>
      </ion-col>
    </ion-row>
  </section>
</ion-content>
