/*// Change background color of ion-content
ion-content{
  --ion-background-color:#0b8457;
}*/

// Custom bullet color for "ion-swipe"
ion-slides {
  --bullet-background: #cecece;
  --bullet-background-active: white;
}