<ion-header>
  <ion-toolbar>
    <ion-title style="padding:0 0 0 10px;">
      <ion-row class="ion-align-items-center">
        <ion-col size="3" style="text-align:left;padding:0;">
          <ion-icon name="arrow-back" style="font-size:25px;" (click)="backToMyStorePage()"></ion-icon>
        </ion-col>
        <ion-col size="9" style="text-align:right;padding-right:15px;">
          <b>Add Inventory</b>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content main>
  <ion-row>
    <ion-col size="12">
      <ion-card style="margin:10px;padding:5px;">
        <ion-row class="ion-align-items-center" style="margin-bottom:5px;">
          <ion-col size="12">
            <b>Inventory Name</b>
          </ion-col>
          <ion-col size="12">
            <input type="text" class="form-control">
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center" style="margin-bottom:5px;">
          <ion-col size="12">
            <b>Code</b>
          </ion-col>
          <ion-col size="12">
            <input type="text" class="form-control">
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center" style="margin-bottom:5px;">
          <ion-col size="12">
            <b>SKU</b>
          </ion-col>
          <ion-col size="12">
            <input type="text" class="form-control">
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center" style="margin-bottom:5px;">
          <ion-col size="12">
            <b>Description</b>
          </ion-col>
          <ion-col size="12">
            <textarea cols="20" rows="3" class="form-control"></textarea>
          </ion-col>
        </ion-row>

        <table class="table">
          <tbody>
          <tr>
            <td>Cost</td>
            <td>
              <input type="number" class="form-control">
            </td>
          </tr>
          <tr>
            <td>Selling Price</td>
            <td>
              <input type="number" class="form-control">
            </td>
          </tr>
          <tr>
            <td>Stock's Quantity</td>
            <td>
              <input type="number" class="form-control">
            </td>
          </tr>
          <tr>
            <td>Stock's Threshold</td>
            <td>
              <input type="number" class="form-control">
            </td>
          </tr>
          <tr>
            <td>
              Inventory Pictures
            </td>
            <td>
              <label for="file-upload" class="custom-file-upload">
                <ion-icon name="cloud-upload"></ion-icon>&nbsp;&nbsp;Upload
              </label>
              <input type="file" id="file-upload" multiple="true" (change)="detectFiles($event)" accept="image/*">
            </td>
          </tr>
          </tbody>
        </table>

        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <ion-slides pager="true" [options]="inventoryImageSliderOptions">
              <ion-slide *ngFor="let url of inventoryImagesUrl">
                <img [src]="url" alt="product_image" class="productDetailImage rounded mb-3" style="height:300px;">
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card style="margin:10px;padding:5px;">
        <ion-row class="ion-align-items-center">
          <ion-col size="12">
            <h3>Promotion Details</h3>
            <table class="table" style="margin-bottom:0;">
              <tbody>
                  <tr>
                    <td style="padding-bottom:0;">
                        <ion-row class="ion-align-items-center">
                            <ion-col size="4">
                                Promotion Plan
                            </ion-col>
                            <ion-col size="8">
                                <ion-select interface="popover" placeholder="Select Promotion Plan"
                                            [(ngModel)]="selectedPromotionPlan"
                                            (ionChange)="pickedPromotionPlan()">
                                    <ion-select-option *ngFor="let promotionPlan of listOfStorePromotions;let i = index;"
                                                       [value]="promotionPlan"
                                                       [selected]="i === 0">
                                        {{promotionPlan.name}}
                                    </ion-select-option>
                                </ion-select>
                            </ion-col>
                        </ion-row>
                        <ion-row class="ion-align-items-center">
                            <ion-col size="12">
                                <div *ngIf="selectedPromotionPlan" class="alert alert-primary" role="alert">
                                    {{selectedPromotionPlan.desc}}
                                </div>
                            </ion-col>
                        </ion-row>
                    </td>
                  </tr>
              </tbody>
            </table>
          </ion-col>
        </ion-row>
      </ion-card>

    <ion-card style="margin:10px;padding:5px;">
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <h3>Warranty Details</h3>
                <table class="table" style="margin-bottom:0;">
                    <tbody>
                    <tr>
                        <td style="padding-bottom:0;">
                            <ion-row class="ion-align-items-center">
                                <ion-col size="4">
                                    Warranty Plan
                                </ion-col>
                                <ion-col size="8">
                                    <ion-select interface="popover" placeholder="Select Warranty Plan"
                                                [(ngModel)]="selectedWarrantyPlan"
                                                (ionChange)="pickedWarrantyPlan()">
                                        <ion-select-option *ngFor="let warrantyPlan of listOfStoreWarranties;let j = index;"
                                                           [value]="warrantyPlan"
                                                           [selected]="j === 0">
                                            {{warrantyPlan.name}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-col>
                            </ion-row>
                            <ion-row class="ion-align-items-center">
                                <ion-col size="12">
                                    <div *ngIf="selectedWarrantyPlan" class="alert alert-primary" role="alert">
                                        {{selectedWarrantyPlan.desc}}
                                    </div>
                                </ion-col>
                            </ion-row>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card style="margin:10px;padding:5px;">
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <h3>Shipping Details</h3>
                <table class="table" style="margin-bottom:0;">
                    <tbody>
                    <tr>
                        <td style="padding-bottom:0;">
                            <ion-row class="ion-align-items-center">
                                <ion-col size="4">
                                    Shipping Plan
                                </ion-col>
                                <ion-col size="8">
                                    <ion-select interface="popover" placeholder="Select Shipping Plan"
                                                [(ngModel)]="selectedShippingPlan"
                                                (ionChange)="pickedShippingPlan()">
                                        <ion-select-option *ngFor="let shippingPlan of listOfStoreShippings;let k = index;"
                                                           [value]="shippingPlan"
                                                           [selected]="k === 0">
                                            {{shippingPlan.name}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-col>
                            </ion-row>
                            <ion-row class="ion-align-items-center">
                                <ion-col size="12">
                                    <div *ngIf="selectedShippingPlan" class="alert alert-primary" role="alert">
                                        {{selectedShippingPlan.desc}}
                                    </div>
                                </ion-col>
                            </ion-row>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card style="margin:10px;padding:5px;">
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <h3>Define Inventory Family</h3>
                <ion-row class="ion-align-items-center">
                    <ion-col size="12">
                        <b>Family Name</b>
                    </ion-col>
                    <ion-col size="12">
                        <input type="text" class="form-control">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size="12">
                        <b>Code</b>
                    </ion-col>
                    <ion-col size="12">
                        <input type="text" class="form-control">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size="12">
                        <b>SKU</b>
                    </ion-col>
                    <ion-col size="12">
                        <input type="text" class="form-control">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size="12">
                        <b>Description</b>
                    </ion-col>
                    <ion-col size="12">
                        <textarea cols="20" rows="3" class="form-control"></textarea>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size="12">
                        <b>Cost</b>
                    </ion-col>
                    <ion-col size="12">
                        <input type="number" class="form-control">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size="12">
                        <b>Selling Price</b>
                    </ion-col>
                    <ion-col size="12">
                        <input type="number" class="form-control">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size="12">
                        <b>Quantity</b>
                    </ion-col>
                    <ion-col size="12">
                        <input type="number" class="form-control">
                    </ion-col>
                </ion-row>
                <ion-row class="ion-align-items-center">
                    <ion-col size="3">
                        <b>On Sale</b>
                    </ion-col>
                    <ion-col size="3" style="text-align:right;">
                        <ion-toggle color="success" [checked]="selectedFamilyOnSaleToggle"
                                    (ionChange)="toggleFamilyOnSaleCheckbox()"></ion-toggle>
                    </ion-col>
                    <ion-col size="6"></ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-card>

        <ion-card style="margin:10px;padding:5px;">
            <ion-row class="ion-align-items-center">
                <ion-col size="12">
                    <h3>Define Inventory Pattern</h3>
                    <ion-row class="ion-align-items-center">
                        <ion-col size="12">
                            <b>Pattern Name</b>
                        </ion-col>
                        <ion-col size="12">
                            <input type="text" class="form-control">
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-align-items-center">
                        <ion-col size="12">
                            <b>Description</b>
                        </ion-col>
                        <ion-col size="12">
                            <textarea cols="20" rows="3" class="form-control"></textarea>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-align-items-center">
                        <ion-col size="12">
                            <b>Cost</b>
                        </ion-col>
                        <ion-col size="12">
                            <input type="number" class="form-control">
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-align-items-center">
                        <ion-col size="12">
                            <b>Selling Price</b>
                        </ion-col>
                        <ion-col size="12">
                            <input type="number" class="form-control">
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-align-items-center">
                        <ion-col size="12">
                            <b>Quantity</b>
                        </ion-col>
                        <ion-col size="12">
                            <input type="number" class="form-control">
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-align-items-center">
                        <ion-col size="3">
                            <b>On Sale</b>
                        </ion-col>
                        <ion-col size="3" style="text-align:right;">
                            <ion-toggle color="success" [checked]="selectedPatternOnSaleToggle"
                                        (ionChange)="togglePatternOnSaleCheckbox()"></ion-toggle>
                        </ion-col>
                        <ion-col size="6"></ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card>

    </ion-col>
  </ion-row>
</ion-content>
