// Custom styling of type="file" button
input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  border-radius:3px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 20px;
  color: cornflowerblue;
}

// Unresizable textarea
textarea {
  resize: none;
}

// Custom Error Messages styling for wizard-step
.error {
  color: #ff1749;
  padding-left:0;
  margin-left:15px;
  margin-bottom:0;
}

// Custom bullet color for "ion-swipe"
ion-slides {
  --bullet-background: #858585;
  --bullet-background-active: black;
}

form-wizard>div>div.card-footer>button{
  background-color:yellow !important;
}
