
<ion-content>
    <div style="position:fixed !important;top:0;z-index:999999;">
      <ion-card style="margin:0;background-color:white;">
        <ion-row class="ion-align-items-center">
          <ion-col size="9" style="padding:0;">
            <ion-searchbar autofocus
                           debounce="1500"
                           [(ngModel)]="searchedKeyword"
                           [placeholder]="'Search ' + itemToSearch + '..'"
                           animated="true"
                           (ionInput)="searchKeywordInput()"
                           (ionChange)="searchKeywordChange()"></ion-searchbar>
          </ion-col>
          <ion-col size="3" style="padding:0;">
            <ion-select interface="popover" (ionChange)="changedSearchItemDropdown($event)">
              <ion-select-option value="videos" [selected]="itemToSearch === 'videos'">Videos</ion-select-option>
              <ion-select-option value="articles" [selected]="itemToSearch === 'articles'">Articles</ion-select-option>
              <ion-select-option value="my videos" [selected]="itemToSearch === 'my videos'">My Videos</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <ng-container *ngIf="showLoadingSpinner else notShowingLoadingSpinner">
      <div style="text-align:center;font-size:10rem;height:100%;">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    </ng-container>
    <ng-template #notShowingLoadingSpinner>
      <ng-container *ngIf="itemToSearch === 'videos'">
        <ion-card style="margin-top:80px;">
        <ion-row>
          <ion-col size="12" *ngFor="let publicVideo of listOfPublicVideosResult;let i = index;">
            <ion-card style="margin-bottom:10px;margin-top:0;background-color:white !important;" (click)="openModalToPlaySelectedVideo(publicVideo.uid)">
              <div class="play-button-div">
                <ion-img [src]="publicVideo.imgpath" [alt]="'vid_' + i" *ngIf="publicVideo.imgpath" style="object-fit:cover;height:200px;"></ion-img>
                <ion-icon name="play" class="play-button-icon" style="color:white;font-size:4rem;border:3px solid white;border-radius:50%;"></ion-icon>
              </div>
              <ion-card-header style="padding-top:5px;padding-bottom:0;">
                <ion-card-title>
                  <b>
                    {{publicVideo?.title}}
                  </b>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content style="padding-bottom:5px;">
                <ion-row>
                  <ion-col size="12" style="padding:0;">
                    <b>Views&nbsp;</b>{{publicVideo?.view}}
                  </ion-col>
                  <ion-col size="12" style="padding:0;">
                    <b>Uploaded On&nbsp;</b>{{publicVideo?.created_at | date: 'mediumDate'}}
                  </ion-col>

                  <ng-container *ngIf="publicVideo?.free !== 1">
                    <ion-col size="12" style="padding-left:0;">
                      <ng-container *ngIf="publicVideo?.promoprice else noPromoPrice">
                        <ion-row>
                          <ion-col size="12" style="padding:0;">
                          <span style="text-decoration:line-through;color:grey;">
                              {{publicVideo?.price | myCurrency}}
                          </span>
                            &nbsp;
                            <ng-container *ngIf="publicVideo?.discbyprice === 1 else discountedByPercentage">
                              <ion-chip color="primary" style="font-size:18px;">
                                -{{publicVideo?.disc | myCurrency}}%
                              </ion-chip>
                            </ng-container>
                            <ng-template #discountedByPercentage>
                              <ion-chip color="primary" style="font-size:18px;">
                                -{{publicVideo?.promopctg}}%
                              </ion-chip>
                            </ng-template>
                          </ion-col>
                        </ion-row>
                        <span class="badge badge-primary" style="font-size:18px;">
                        {{publicVideo?.promoprice | myCurrency}}
                      </span>
                      </ng-container>
                      <ng-template #noPromoPrice>
                      <span class="badge badge-primary" style="font-size:18px;">
                          {{publicVideo?.price | myCurrency}}
                      </span>
                      </ng-template>
                    </ion-col>
                  </ng-container>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ng-container *ngIf="listOfPublicVideosResult && listOfPublicVideosResult.length > 0">
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMorePublicVideos($event)">
              <ion-infinite-scroll-content
                      loadingSpinner="crescent">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ng-container>
        </ion-row>
        </ion-card>
      </ng-container>
      <ng-container *ngIf="itemToSearch === 'articles'">
        pub art res
      </ng-container>
      <ng-container *ngIf="itemToSearch === 'my videos'">
        my vid res
      </ng-container>
    </ng-template>
</ion-content>
