<ion-content main>
  <ion-card style="height:100%;">
    <ion-buttons slot="start" style="padding:5px;">
      <ion-menu-button style="border:1px solid #ebebeb;border-radius:5px;color:black;"></ion-menu-button>
    </ion-buttons>
    <ng-container *ngIf="noInventoriesUploaded else gotInventoriesUploaded">
      <ion-row>
        <ion-col size="12" style="text-align:center;">
          <h3 style="color:#e6e6e6;">
            <ion-icon name="archive" style="font-size:8rem;"></ion-icon>
            <br>
            No inventories yet! <br>Start adding!
            <br>
            <ion-button fill="outline" style="margin-top:10px;">
              Adding&nbsp;&nbsp;<ion-icon name="add"></ion-icon>
            </ion-button>
          </h3>
        </ion-col>
      </ion-row>
    </ng-container>


    <ng-template #gotInventoriesUploaded>
      <ion-row>
        <ion-col size="12" style="text-align:center;">
          <ion-button fill="outline" style="margin-top:10px;">
            Add Inventory&nbsp;&nbsp;<ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div style="overflow-y:auto;width:100%;white-space:nowrap;">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Country</th>
                <th scope="col">Area</th>
                <th scope="col">Population</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let country of listOfCountries; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                  {{ country.name }}
                </td>
                <td>{{ country.area | number }}</td>
                <td>{{ country.population | number }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </ion-col>
      </ion-row>
    </ng-template>


  </ion-card>
</ion-content>
