<ion-menu side="start" menuId="userProfileSideBar">
  <ion-header>
    <ion-toolbar>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/user-profile/my-videos']" (click)="closeSideMenu()">
        <ion-icon name="videocam" slot="start"></ion-icon>
        <ion-label>My Videos</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/user-profile/my-store']" (click)="closeSideMenu()">
        <ion-icon name="archive" slot="start"></ion-icon>
        <ion-label>My Store</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/user-profile/my-orders']" (click)="closeSideMenu()">
        <ion-icon name="chatbubbles" slot="start"></ion-icon>
        <ion-label>My Orders</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/user-profile/my-statistics']" (click)="closeSideMenu()">
        <ion-icon name="analytics" slot="start"></ion-icon>
        <ion-label>My Statistics</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/login']" (click)="closeSideMenu()">
        <ion-icon name="analytics" slot="start"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet></ion-router-outlet>
